<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="">
<head th:replace="~{fragments :: head}">
  <style>
    table.job-listing {
        margin: 30px auto;
        border: 1px solid #e4e4e4;
        width: 80%;
    }

    td {
        border-bottom: 1px solid #e4e4e4;
        padding: 8px;
    }
  </style>
  <title></title>
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="job-listing" th:each="job : ${jobs}">

      <tr>
        <td><strong>ID:</strong></td>
        <td th:text="${job.id}"></td>
      </tr>
      <tr>
        <td><strong>Job Title:</strong></td>
        <td th:text="${job.name}"></td>
      </tr>
      <tr>
        <td><strong>Employer:</strong></td>
        <td th:text="${job.employer}"></td>
      </tr>
      <tr>
        <td><strong>Location:</strong></td>
        <td th:text="${job.location}"></td>
      </tr>
      <tr>
        <td><strong>Position Type:</strong></td>
        <td th:text="${job.positionType}"></td>
      </tr>
      <tr>
        <td><strong>Skill:</strong></td>
        <td th:text="${job.coreCompetency}"></td>
      </tr>
    </table>
    <br/>

</div>

</body>
</html>